.error{
    color:red;
}
.bg-blue, .bg-blue:hover {
    background-color: #273246;
    border-color: #273246;
    color: #fff;
}
.font-size-16 {
    font-size: 16px !important;
}
.navbar-brand{
    padding: 10px;
    width: 100%;
    text-align: center;
}
.navbar-brand > img {
    height: 35px;
    margin: 0 auto;
}

.sidebar-xs .header-highlight .navbar-header .navbar-brand{
    background-size: auto 30px;
}

.border {
    background: #FFFFFF;
    border: 0.5px solid #C8C8C8;
    border-radius: 5px;
}
.select2-selection--multiple{
    display: block;
    border-bottom: 1px solid #ddd !important;
    cursor: text;
    /* outline: 0; */
    user-select: none;
}
.select2-selection--multiple:not([class*="bg-"]):not([class*="border-"]) {
    border-color:none;
}
